In [6]:
import pandas as pd
import numpy as np

pd.__version__

'1.2.4'

In [10]:
"""
    Pandas Object : Series    
"""
#Create a series from an array

ser = pd.Series([0.25,0.5,0.75,1.0])# constructor method
print(ser)

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [12]:
# Two main
arr = ser.values
print(arr)

[0.25 0.5  0.75 1.  ]

In [14]:
ind = ser.index
print(ind)

RangeIndex(start=0, stop=4, step=1)

In [18]:
ser = pd.Series([0.25,0.5,0.75,1.0], index=['a','b','c','d'])
print(ser)

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [23]:
print(ser['a'])
print(ser.d)

0.25
1.0

In [31]:
"""
Create dictionary
"""
population_dict = {'Cal':363,
                   'Tex':343,
                   'New':342}
population = pd.Series(population_dict)
print(population_dict)

print(population['Cal':'Tex'])

{'Cal': 363, 'Tex': 343, 'New': 342}
Cal    363
Tex    343
dtype: int64

In [36]:
area_dict = population_dict

area = pd.Series(area_dict)
states = pd.DataFrame({'population':population,'area':area})
print(states)

     population  area
Cal         363   363
Tex         343   343
New         342   342

In [41]:
print(states.index)
print(states.columns)

Index(['Cal', 'Tex', 'New'], dtype='object')
Index(['population', 'area'], dtype='object')

In [46]:
print(states['area'])

Cal    363
Tex    343
New    342
Name: area, dtype: int64

In [58]:
np.random.seed(6)
arr = np.random.rand(3,2)
print(arr)

a = pd.DataFrame(arr,columns=['foo','bar'], index=['a','b','c'])
print(a)

[[0.89286015 0.33197981]
 [0.82122912 0.04169663]
 [0.10765668 0.59505206]]
        foo       bar
a  0.892860  0.331980
b  0.821229  0.041697
c  0.107657  0.595052

In [63]:
print(ser['b'])
print('a' in ser)
print(0.25 in ser)

0.5
True
False

In [66]:
print(ser.keys())
ser['e'] = 1.25
ser['a'] = 0.125
print(ser)

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
a    0.125
b    0.500
c    0.750
d    1.000
e    1.250
dtype: float64

In [69]:
print(ser['a':'c'])
print(ser[(ser>0.3)&(ser<0.8)])
print(ser[['a','e']])

a    0.125
b    0.500
c    0.750
dtype: float64
b    0.50
c    0.75
dtype: float64
a    0.125
e    1.250
dtype: float64

In [71]:
print(ser['a':'c'])
print(ser[0:2])

a    0.125
b    0.500
c    0.750
dtype: float64
a    0.125
b    0.500
dtype: float64

In [73]:
print(states['area'])
print(states.area)

Cal    363
Tex    343
New    342
Name: area, dtype: int64
Cal    363
Tex    343
New    342
Name: area, dtype: int64

In [75]:
states['density'] = states['population']/states['area']
print(states)

     population  area  density
Cal         363   363      1.0
Tex         343   343      1.0
New         342   342      1.0

In [81]:
print(ser.loc['a'])
print(ser.loc['a':'c'])

print(ser.iloc[1])
print(ser.iloc[1:3])

0.125
a    0.125
b    0.500
c    0.750
dtype: float64
0.5
b    0.50
c    0.75
dtype: float64

In [84]:
states.iloc[0,2] = 90
print(states)

     population  area  density
Cal         363   363     90.0
Tex         343   343      1.0
New         342   342      1.0