In [12]:
import numpy as np
import pandas as pd

arr1 = np.array([1, None, 3, 4])
arr1.dtype

dtype('O')

In [13]:
arr2 = np.array([1,2,3,4])
arr2.dtype

dtype('int32')

In [15]:
try:
    arr1.sum()
except TypeError as e:
    print(e)

unsupported operand type(s) for +: 'int' and 'NoneType'

In [16]:
arr2.sum()

10

In [19]:
arr3 = np.array([1, np.nan, 3, 4])
arr3.dtype

dtype('float64')

In [22]:
print(1 + np.nan)
print(arr3.sum())

nan
nan

In [24]:
print(np.nansum(arr3))
print(np.nanmax(arr3))
print(np.nanmin(arr3))

8.0
4.0
1.0

In [25]:
pd.Series([1,np.nan,2,None])

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64

In [26]:
ser = pd.Series([1,np.nan, 'hello',None])
ser.isnull()

0    False
1     True
2    False
3     True
dtype: bool

In [27]:
ser.notnull()

0     True
1    False
2     True
3    False
dtype: bool

In [28]:
df = pd.DataFrame(np.array([[1.0,None,2],[2.0,3.0,5],[None,4.0,6]]))
df.dropna()

     0    1  2
1  2.0  3.0  5

In [30]:
df.dropna(axis='columns')

   2
0  2
1  5
2  6

In [34]:
df[3] = np.array([None,None,None])
print(df)
df.dropna(axis='columns',how='all')

      0     1  2     3
0   1.0  None  2  None
1   2.0   3.0  5  None
2  None   4.0  6  None

      0     1  2
0   1.0  None  2
1   2.0   3.0  5
2  None   4.0  6

In [35]:
df.dropna(axis='rows',thresh=3)

     0    1  2     3
1  2.0  3.0  5  None

In [36]:
ser = pd.Series([1,np.nan,2,None,3],index=list('abcde'))
print(ser)

a    1.0
b    NaN
c    2.0
d    NaN
e    3.0
dtype: float64

In [37]:
ser.fillna(0)

a    1.0
b    0.0
c    2.0
d    0.0
e    3.0
dtype: float64

In [38]:
ser.fillna(method='ffill')

a    1.0
b    1.0
c    2.0
d    2.0
e    3.0
dtype: float64

In [39]:
ser.fillna(method='bfill')

a    1.0
b    2.0
c    2.0
d    3.0
e    3.0
dtype: float64