In [10]:
"""
print() function

실행
Cltr+Enter

새 네모
Shift + Enter
"""
print("Hello World!")
print(100)

pi = 3.14
print(pi)


intro = "My name is "
name = "Dong Geon Park"
print(intro+name + "!")

Hello World!
100
3.14
My name is Dong Geon Park!

In [12]:
"""
Variables

변수 : 데이터를 저장하는 개체
파이썬은 메모리 위치 참조
숫자, 문자, 문자열, 불리언, 그 외

할당:변수에 어떤 값을 집어넣기
-선언 및 초기화
-(재)할당


#Invalid cases:
2myvar = "Park"
my-var = "Park"
my var = "Park"

"""

user_name = "Park Dong Geon"
user_Id = "happyon8"
user_email = "happyon8@naver.com"
is_student = True
user_dept = "Sotfware"
user_age = 25
user_birth = 970317
today = 210914

print('name = ',user_name)
print('Address of name: ',id(user_name))

name =  Park Dong Geon
Address of name:  2370745427312

In [13]:
"""
Data Types: Integers
"""

#집에 있는 세 가지 이상의 사물의 갯수를 정수 변수로 표현하시오.

noteBooks = 1
tables = 1
bed = 2

In [14]:
"""
Data Types: Real Numbers
"""

#본인이 알고있는  세 개의 실수를 변수로 정의하시오.
pi = 3.141592
human_temperature = 36.5
bitcoin = 53086612.36

In [17]:
"""
Data Types:Strings
"""
favorite_food = "Chicken"
favorite_game = "Pokemon"
favorite_movie = 'Avater'

print(favorite_food)
print(favorite_game)
print(favorite_movie)

favorites = favorite_food + favorite_game + favorite_movie
print(favorites)

Chicken
Pokemon
Avater
ChickenPokemonAvater

In [1]:
"""
x-Equals Operations
"""

a = 2
a -= 2
b = 2
b *= 2
c = 2
c **=3
print(c)
print(b)
print(a)

8
4
0

In [4]:
is_tested = True
is_passed = False
print("동건", is_tested)
print("시험", is_passed)
print(type(is_tested))

a="3.14"
print(type(a))

동건 True
시험 False
<class 'bool'>
<class 'str'>

In [7]:
print('Yes'=="Yes")
print((2>1)==(5<10))
c='2'
d=2
print(c==d)

True
True
False

In [12]:
print(True or True)
print(True or False)
print(False or False)
print(1 < 2 or 3 < 1)
print(3 < 1 or 1 > 6)
print(1 == 1 or 1 < 2)

True
True
False
True
False
True

In [15]:
"""
Conditional statements (if/elif/else)
"""
puppy = "maltepoo"
is_yes = False

if puppy == "maltese":
    print("말티즈")
    is_yes = True
    
elif puppy == "poodle":
    print("푸들")
    is_yes = True
    
else:
    print("말티푸")
    is_yes = True
    
print(is_yes)

말티푸
True

In [2]:
"""
Exception Handling
"""
x=1
try:
    print(y)
except:
    print('[Error]')
print('continue')

[Error]
continue

In [4]:
"""
list
"""
primes = [2,3,5,2,11]
print(primes)

empty_list =  []

[2, 3, 5, 2, 11]

In [12]:
"""
Multiple different data types
"""

numbers = [1,2,3,4,5]
names = ['h','b','c']
mixed = ['sdf',1,2]
list_of_lists = [['a',1],['b',2]]
print(mixed)

['sdf', 1, 2]

In [13]:
print(list_of_lists)

[['a', 1], ['b', 2]]

In [14]:
print(numbers[0])

1

In [18]:
"""
Zero-indexing
"""
names = ['do','happy','now']
print(names)
print(names[0])
print(names[-1])

['do', 'happy', 'now']
do
now

In [20]:
"""
List Slicing
"""
hsu_bulidings = ['만우관','장공관','필헌관','소통관','송암관','늦봄관','장준하통일관']
slice_hsu = hsu_bulidings[1:4]
print(slice_hsu)

['장공관', '필헌관', '소통관']

In [23]:
print(slice_hsu)
slice_hsu[0] = 'ㅠㅠ'
print(slice_hsu)

['ㅠㅠ', '필헌관', '소통관']
['ㅠㅠ', '필헌관', '소통관']

In [27]:
"""
Multi-dimensional Lists
"""
restaurants = [['해우리','고s','한식'],['짜장명가','탕수육','중식']]
print(restaurants)
print(restaurants[0][2])

[['해우리', '고s', '한식'], ['짜장명가', '탕수육', '중식']]
한식

In [29]:
"""
Adding Lists Together
"""
items_one = ['cake','cookie']
items_two = ['snack','biscuit']
total_items = items_one+items_two
print(total_items)

['cake', 'cookie', 'snack', 'biscuit']

In [44]:
"""
Useful Methods for Lists
"""
#len()
print(len(items_one))
#count
backpack = ['pen','pen','pen','book','book']
print(backpack.count('pen'))
print(backpack.count('book'))
#append
backpack.append('ipad')
print(backpack)
#insert
backpack.insert(2,'GalxyTab')
print(backpack)
#pop
backpack.pop(2)
print(backpack)
backpack.pop()
print(backpack)
#remove
backpack.remove('pen')
print(backpack)
#backpack.remove('power')
#sort
numbers=[1,2,5,7,4,12,3]
numbers.sort()
print(numbers)
#sorted(list)
numbers_two=[8,6,5,4,3,2]
print(sorted(numbers_two))
print(numbers_two)

2
3
2
['pen', 'pen', 'pen', 'book', 'book', 'ipad']
['pen', 'pen', 'GalxyTab', 'pen', 'book', 'book', 'ipad']
['pen', 'pen', 'pen', 'book', 'book', 'ipad']
['pen', 'pen', 'pen', 'book', 'book']
['pen', 'pen', 'book', 'book']
[1, 2, 3, 4, 5, 7, 12]
[2, 3, 4, 5, 6, 8]
[8, 6, 5, 4, 3, 2]