In [3]:
#1
import pandas as pd
import numpy as np

#2
data = pd.read_csv('data/president_heights.csv')

#3
data.head()

   order               name  height(cm)
0      1  George Washington         189
1      2         John Adams         170
2      3   Thomas Jefferson         189
3      4      James Madison         163
4      5       James Monroe         183

In [5]:
#4
heights = np.array(data['height(cm)'])
print(heights)

[189 170 189 163 183 171 185 168 173 183 173 173 175 178 183 193 178 173
 174 183 183 168 170 178 182 180 183 178 182 188 175 179 183 193 182 183
 177 185 188 188 182 185]

In [10]:
#5
print("Mean height = ", np.mean(heights))
print("Standard deviation = ",np.std(heights) )
print("Minimum height = ",np.min(heights))
print("Maximum height = ",np.max(heights))
print("25th percentile = ",np.percentile(heights,25))
print("Median = ",np.median(heights))
print("75th percentile = ",np.percentile(heights, 75))

Mean height =  179.73809523809524
Standard deviation =  6.931843442745892
Minimum height =  163
Maximum height =  193
25th percentile =  174.25
Median =  182.0
75th percentile =  183.0